# .gitignore for Scala snippets and programs

# match only directories (thus the trailing /) and subdirectories (thus no leading /)
target/

# IntelliJ files
.idea
out/


# vscode files
*.code-workspace

